<div
  class="flex flex-col p-8 py-20 bg-blush justify-center items-center space-y-8 w-full md:py-48"
  id="about"
>
  <div class="flex flex-col space-y-8 max-w-4xl">
    {/* <p class="text-2xl text-gray-800">About Me</p> */}
    <p class="text-xl text-gray-800">Hi there, I’m Agil</p>

    <p class="text-sm text-gray-600 text-left leading-loose">
      Hi! I'm Agil Dwiki Yudistira, a full-stack developer who gets a kick out
      of transforming code into amazing websites and applications. As an
      Informatics Engineering student, I'm constantly learning and refining my
      craft. To unwind, I love hopping on my bike or getting lost in the
      ever-expanding online world. Let's connect if you're looking for someone
      who's passionate about creating great digital experiences! (I'm in Bekasi,
      by the way).
    </p>
  </div>
</div>
