---
import { Image } from "astro:assets";
import { getProjects } from "../utils";

const projects = getProjects();
---

<div
  class="flex flex-col mt-24 p-4 justify-center items-center max-w-screen-2xl md:mt-36 lg:mt-48 md:mx-auto w-full"
  id="projects"
>
  <h1 class="text-2xl text-gray-800 md:text-3xl">Projects</h1>
  <div class="w-28 h-1 bg-blush rounded-full my-2"></div>
  <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4 w-full mt-4">
    {
      projects.map((project) => (
        <a href={`/projects/${project.id}`}>
          <div class="flex flex-col p-4 bg-blush space-y-2 cursor-pointer  hover:shadow-lg transition duration-300 ease-in-out">
            <Image
              src={project.thumbnail}
              alt={project.name}
              class="w-full h-auto"
              loading="lazy"
              width={360}
              height={240}
            />
            <p class="text-sm text-gray-800">{project.name}</p>
          </div>
        </a>
      ))
    }
  </div>
</div>
